/* Seksyen 1 */

.bg-img {
  /* The image used */
  background-image: url("images/banner.png");

  min-height: 520px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #69b1d3;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.banner-text {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

/* Seksyen 2 */

h1 {
  margin-top: 10vh;
  font-size: 60px;
  text-align: center;
}

.content-slider {
  width: 100%;
  height: 360px;
}

.slider {
  height: 320px;
  width: 680px;
  margin: 40px auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 320px;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 680px;
  height: 320px;
  position: absolute;
  top: -325px;
  list-style: none;
}

.slider .quote {
  font-size: 40px;
  font-style: italic;
}

.slider .source {
  font-size: 20px;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 15s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 15s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 15s linear infinite;
}

.slider li.anim4 {
  animation: cycle4 15s linear infinite;
}

.slider li.anim5 {
  animation: cycle5 15s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }

  4% {
    top: 0px;
  }

  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  20% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  21% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  50% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  92% {
    top: -325px;
    opacity: 0;
    z-index: 0;
  }

  96% {
    top: -325px;
    opacity: 0;
  }

  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0;
  }

  16% {
    top: -325px;
    opacity: 0;
  }

  20% {
    top: 0px;
    opacity: 1;
  }

  24% {
    top: 0px;
    opacity: 1;
  }

  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  40% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  41% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0;
  }

  36% {
    top: -325px;
    opacity: 0;
  }

  40% {
    top: 0px;
    opacity: 1;
  }

  44% {
    top: 0px;
    opacity: 1;
  }

  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  60% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  61% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0;
  }

  56% {
    top: -325px;
    opacity: 0;
  }

  60% {
    top: 0px;
    opacity: 1;
  }

  64% {
    top: 0px;
    opacity: 1;
  }

  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  80% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }

  81% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }

  100% {
    top: -325px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle5 {
  0% {
    top: -325px;
    opacity: 0;
  }

  76% {
    top: -325px;
    opacity: 0;
  }

  80% {
    top: 0px;
    opacity: 1;
  }

  84% {
    top: 0px;
    opacity: 1;
  }

  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }

  100% {
    top: 325px;
    opacity: 0;
    z-index: 0;
  }
}

/* Seksyen 3 */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body{
  font-family: 'Source Sans Pro', sans-serif;
}

.hover-table-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
   -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  max-width:800px;
  margin:0 auto;
}
.listing-item {
   display: block;
   width:100%;
  margin-bottom:20px;
    float: left;
    background: rgb(209, 207, 207);
    border-radius:10px;
    z-index:0;
  cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);

}
.listing-item:hover,  .listing-item.active{
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
    transition: all 0.3s;
  z-index:2;

}
.listing-item .listing{
    padding:10px;
    position:relative;  
}

figcaption .caption{
  position:relative;
  top:10%;
  -moz-transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  transform:translateY(-50%);

}

figcaption p{
  color:black;
  font-size:25px;
  text-align: center;
}
.listing h5 {
   
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}
.listing h5:not(:last-child){
   border-bottom: 1px solid white;
}
.listing-item:hover figure.image figcaption{
       background: rgba(195, 39, 43, 0.6);
}
@media only screen and (min-width:540px){
  .listing-item {
   display: block;
   width: -webkit-calc(100%/3);
   width: -moz-calc(100%/3);
    width: calc(100%/3);
  }
}
@media only screen and (min-width:1024px){
  .hover-table-layout{
        padding: 30px;
  }
}




/*footer*/

/* Copy Right Footer */
.footer-copyright {
  background: #222;
  padding: 5px 0;
  text-align: left;
}

.footer-copyright p {
  color: #969696;
  margin: 2px 0 0;
}
